params {
    reads           =   "${projectDir}/samples/*_{1,2}.fastq.gz"
    hisat2          =   "${projectDir}/indexes/*.tar.gz"
    hisat2_prefix   =   "indexes/genome"
    gtf             =   "${projectDir}/genes/*.gtf"
    outdir          =   "results"
}

profiles {
    local {
        process.cpus    =   4
        process.memory  =   8.GB
    }

    docker {

        docker.enabled      =   true
        docker.runOptions   =   '-u $(id -u):$(id -g)'

        process {

            withName: 'FASTQC' {
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }

            withName: 'TRIM_GALORE' {
                container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0'
            }

            withName: 'HISAT2_ALIGN' {
                container = 'community.wave.seqera.io/library/hisat2_samtools:6be64e12472a7b75'
            }

            withName: 'STRINGTIE_ASSEMBLE|STRINGTIE_MERGE|STRINGTIE_REESTIMATE' {
                container = 'quay.io/biocontainers/stringtie:2.2.3--h29c0135_1'
            }

            withName: 'MULTIQC' {
                container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
            }
        }  
    }
}