docker.enabled = true

params {
    reads           =   "${projectDir}/samples/*_{1,2}.fastq.gz"
    hisat2          =   "${projectDir}/indexes/*.tar.gz"
    hisat2_prefix   =   "indexes/genome"
    gtf             =   "${projectDir}/genes/*.gtf"
    outdir          =   "results"
}

profiles {
    local {
        process.cpus    =   4
        process.memory  =   8.GB
    }
}